@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

#particles-js {
    background: #1488CC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2B32B2, #1488CC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    vertical-align: bottom;
    width: calc(100vw - 16px);;
    height: 100vh;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

.header-content {
    z-index: 1;
    text-align: center;
    color: #fff;
    position: absolute;
    font-family: 'Rubik', sans-serif;
    /* width: 80%; */
    top: 50%;
    left: 50%;
    /* margin: 0 auto; */
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow-x: hidden;
}

.name {
    color: rgb(255, 255, 255);
    font-family: Rubik, sans-serif;
    font-size: 100px;
    font-weight: 700;
    text-align: center;
}

.sub-heading-name {
    color: rgb(255, 255, 255);
    font-family: Rubik, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    margin: 10px 0px 0px;
    text-align: center;
}

.links ul {
    display: flex;
    justify-content: center;
    place-content: normal center;
}

.links ul li {
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    margin: 25px;
    padding: 12px;
    transition-duration: 0.7s;
}

.links ul li:hover {
    background-color: rgb(255, 255, 255);
}

.links ul li a i {
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline;
    font-family: Rubik, sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
}

.navbar ul {
    display: flex;
    justify-content: center;
    place-content: normal center;
}

.navbar ul li a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}

.navbar ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #1C3139;
    /* Change to desired underline color */
    transform: scaleX(0);
    /* Initially no underline */
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.navbar ul li a:hover {
    color: #1C3139;
    /* Change text color on hover */
    transform: translateY(-2px);
    /* Lift text slightly on hover */
}

.navbar ul li a:hover::before {
    transform: scaleX(1);
    /* Expand underline on hover */
    transform-origin: bottom left;
}

.fa-angle-down {
    position: absolute;
    bottom: 35px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    animation: bounce 1s infinite;
    left: 49%;
    transform: translate(-50%, -50%);
}

.fa-angle-down:hover {
    color: #1C3139;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(10px);
    }

    60% {
        transform: translateY(5px);
    }
}

.about-me {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: auto;
    max-width: 960px;
}

.about-me h1 {
    color: rgb(51, 51, 51);
    font-family: "Nunito Sans", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin: 40px 0px 26.8px;
    padding: 40px 0px 0px;
    text-align: center;
}

.about-me img {
    border-radius: 50%;
    display: inline;
    overflow: clip;
    width: 150px;
    align-self: center;
}

.about-me p {
    color: rgb(85, 85, 85);
    font-family: "Nunito Sans", sans-serif;
    line-height: 24px;
    margin: 16px 0px;
    text-align: center;
}

.skills {
    display: flex;
    justify-content: space-between;
    place-content: normal space-between;
    width: 70vw;
    margin: auto;
    max-width: 960px;
}

.s-col {
    margin: 10px;
}

.s-col h2 {
    color: rgb(51, 51, 51);
    font-family: "Nunito Sans", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    margin: 32px 0px 26.56px;
    padding: 32px 0px 0px;
    text-align: center;
}

.s-col p {
    color: rgb(85, 85, 85);
    font-family: "Nunito Sans", sans-serif;
    line-height: 24px;
    margin: 35px 0px;
    text-align: center;
}

.skill-images {
    height: auto;
    text-align: center;
}

.skill-images img {
    width: 75px;
    margin: 10px;
}

.featured-projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px auto;
    max-width: 960px;
    place-content: normal space-between;
    align-items: center;
}

.featured-projects h1 {
    color: rgb(51, 51, 51);
    font-family: "Nunito Sans", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin: 40px 0px 50px;
    padding: 40px 0px 0px;
    text-align: center;
}

.project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 60px;
}

.project h3 {
    color: rgb(51, 51, 51);
    font-family: "Nunito Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 24px;
    text-align: center;
}

.project p {
    color: rgb(85, 85, 85);
    font-family: "Nunito Sans", sans-serif;
    line-height: 24px;
    margin: 16px 5px 16px 0px;
    text-align: justify;
}

.project a {
    background-color: transparent;
    color: #1488CC;
    border-color: #1488CC;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    font-family: "Nunito Sans", sans-serif;
    line-height: 24px;
    margin: 10px 0px;
    padding: 5px;
    text-align: center;
    transition-delay: 0s, 0s, 0s;
    transition-duration: 0.3s, 0.3s, 0.3s;
    transition-property: color, background-color, border-color;
    transition-timing-function: ease-in, ease-in, ease-in;
    border: 1px solid #1488CC;
    text-decoration: none;
}

.project a:hover {
    background-color: rgb(83, 71, 168);
    border: 1px solid rgb(83, 71, 168);
    color: #ffffff;
}

.project-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px 10px 20px;
}

.project-image {
    display: flex;
}

.project-image img {
    border-radius: 5px;
    height: auto;
    width: 480px;
    border: 1px solid black;
}

.tech-stack {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.tech-stack img {
    aspect-ratio: auto 32 / 32;
    border-radius: 5px;
    display: inline;
    max-width: 100%;
    overflow: clip;
    width: 32px;
}

.footer {
    background-image: linear-gradient(to right, rgb(43, 50, 178), rgb(20, 136, 204));
    margin: 100px 0px 0px;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.footer p {
    cursor: pointer;
}

.footer p a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}

.footer p a:hover {
    color: #1C3139;
    transform: translateY(-2px);
}

section {
    position: relative;
    z-index: 3;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.section-header {
    margin-bottom: 50px;
    text-align: center;
}

.section-header h2 {
    color: rgb(51, 51, 51);
    font-family: "Nunito Sans", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
}

.section-header p {
    color: #FFF;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contact-info {
    width: 50%;
}

.contact-info-item {
    display: flex;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contact-info-icon {
    height: 70px;
    width: 70px;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
    color: #1488CC;
}

.contact-info-icon i {
    font-size: 30px;
    line-height: 70px;
}

.contact-info-content {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-info-content h4 {
    color: #1488CC;
    font-size: 1.4em;
    margin-bottom: 5px;
    font-family: "Nunito Sans", sans-serif;
}

.contact-info-content p {
    color: #1C3139;
    font-size: 1em;
    font-family: "Nunito Sans", sans-serif;
}

.contact-form {
    background-color: #fff;
    padding: 40px;
    width: 45%;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0 auto;
}

.contact-form h2 {
    color: rgb(51, 51, 51);
    font-family: "Nunito Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}

.contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid rgb(51 51 51 / 42%);
    outline: none;
    resize: none;
}

.contact-form .input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contact-form .input-box input:focus~span,
.contact-form .input-box textarea:focus~span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contact-form form .input-box button {
    width: 100%;
    background: #1488CC;
    color: #FFF;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #00bcd4;
    transition: 0.5s;
}

.contact-form form .input-box button:hover {
    background: rgb(83, 71, 168);
}

@media (max-width: 460px) {
    .navbar ul li a {
        font-size: 14px;
    }
}

@media (max-width: 960px) {
    section {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .row {
        flex-direction: column;
    }

    .contact-info {
        margin-bottom: 40px;
        width: 80%;
    }

    .contact-form {
        width: 80%;
    }
}

@media (min-width: 961px) {
    .project:nth-child(even) .project-content {
        order: 2;
    }

    .project:nth-child(even) .project-image {
        order: 1;
    }
}

@media (max-width: 960px) {
    .project {
        display: flex;
        flex-direction: column;
    }

    .project-image {
        justify-content: center;
    }

    .project:nth-child(even) .project-content {
        order: 2;
    }

    .project:nth-child(even) .project-image {
        order: 1;
    }

    .project:nth-child(odd) .project-content {
        order: 2;
    }

    .project:nth-child(odd) .project-image {
        order: 1;
    }

    .project h3 {
        margin-top: 40px;
    }

    .skills {
        flex-direction: column;
    }

    .name {
        font-size: 90px;
    }

    .sub-heading-name {
        font-size: 35px;
    }

    .links ul li {
        padding: 10px;
    }

    .links ul li a i {
        font-size: 28px;
    }

    .project-image img {
        width: 280px;
    }

    .s-col h2 {
        margin: 10px 0px 26.56px;
        padding: 0;
    }

    .featured-projects {
        width: 90vw;
    }

    .project-image img {
        width: 80vw;
        height: auto;
    }

    /* .contact-me {
        width: 90vw;
    } */
}

@media (max-width: 700px) {
    .name {
        font-size: 70px;
    }

    .sub-heading-name {
        font-size: 25px;
    }

    .links ul li a i {
        font-size: 25px;
    }

    .navbar ul li a {
        margin-top: 0;
    }
}

@media (max-width: 600px) {
    .name {
        font-size: 45px;
        margin: 0;
        padding: 0;
    }

    .sub-heading-name {
        font-size: 20px;
    }

    .links ul li a i {
        font-size: 20px;
    }

    .navbar ul li a {
        margin-top: 0;
    }
}

@media (max-width: 400px) {
    .navbar ul li a {
        margin-top: 0;
        font-size: 18px;
    }
}